body {
      font-family: Arial, Helvetica, sans-serif;
       color: white;
}
/*-----------------------------------*/

/*------------------------------------*/
#b {
   text-align: right;
   padding: 1px;
   margin-bottom: 20px;
}
#b button {
  background-color: #2C3950;
  color: white;
  padding: 1px 1px;
  margin-right: 30px;
  border: none;
  cursor: pointer;
  width: 6%;
  height: 5%;
  font-weight: bold;
  border-radius: 6px;
}
#b button:hover {
     opacity: 0.8;
     background-color: #2C3950;
}
/*----------------------------------------------*/
/*------------------------------------*/
#c {
    padding: 30px;
    left: 0;
    right: 0;
    margin: auto;
    width: 95.5%;
    display: flex;
    justify-content: center;
    
    color: black;
    margin-bottom: 20px;
}
#c h4{
    color: #2C3950;
    margin:auto;
    font-size: 18px;
}

/*-------------------table---------------------*/
#c table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #2C3950;
}
/* Style table headers (th) */
#c th {
    background-color: #333;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border: 1px solid #000; /* Add a border */
}
/* Style table cells (td) */
#c td {
    padding: 8px;
    border: 1px solid #000; /* Add a border */
    text-align: left;
    color: black;
}
/* Hover effect on rows */
#c tr:hover {
    background-color: #ddd;
}

/*---------------------------------------------------------*/
/*------------------------------------*/
#e {
    padding: 30px;
    left: 0;
    right: 0;
    margin: auto;
    width: 95.5%;
    display: flex;
    justify-content: center;
    
    color: black;
    margin-bottom: 20px;
}
#e h4{
    color: #2C3950;
    margin:auto;
    font-size: 18px;
}

/*-------------------table---------------------*/
#e table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #2C3950;
}
/* Style table headers (th) */
#e th {
    background-color: #333;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border: 1px solid #000; /* Add a border */
}
/* Style table cells (td) */
#e td {
    padding: 8px;
    border: 1px solid #000; /* Add a border */
    text-align: left;
    color: black;
}
/* Hover effect on rows */
#e tr:hover {
    background-color: #ddd;
}

/*---------------------------------------------------------*/
/*-------------------------------------------------------*/
#d {
   text-align: center;
   padding: 1px;
   margin-bottom: 20px;
}
#print-button {
  background-color: #2C3950;
  color: white;
  padding: 1px 1px;
  margin-right: 30px;
  border: none;
  cursor: pointer;
  width: 10%;
  height: 5%;
  font-weight: bold;
  border-radius: 6px;

}
#print-button:hover {
     opacity: 0.8;
     background-color: #2C3950;
}
#exportButton {
  background-color: #2C3950;
  color: white;
  padding: 1px 1px;
  margin-right: 30px;
  border: none;
  cursor: pointer;
  width: 10%;
  height: 5%;
  font-weight: bold;
  border-radius: 6px;

}
#exportButton:hover {
     opacity: 0.8;
     background-color: #2C3950;
}